{% extends "main/wrapper.html" %}
{% block content %}
<header class="d-flex justify-content-center overflow-hidden">
<div class="svgCont">
    <div class="elipse"></div>
    <span class="labelDj">Django</span>
    {% include "main/includes/svg/header.html" %}
</div>
</header>
<main>
<section class="row searchCont d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-center align-items-center rounded-lg">
        <form class="d-flex justify-content-center" action="learn" method="GET">
            <input type="text" name="search"  class="form-control">
            <input type="submit" value="Найти" class="btn-lg button-search">
        </form>
    </div>
</section>
<section class="row contInfo">
    <div class="col-md-5 row">
        <p class="textS">
            <span>Django</span>
            - это свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC. Проект поддерживается организацией Django Software Foundation.
        </p>
    </div>
    <div class="col-md-7 row">
        <p class="textS">
            <span>Python</span>
            - это высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой набор полезных функций.
        </p>
    </div>
    <div class="row d-flex justify-content-end a_btnBegin">
        <button class="btnBegin">Начать изучение</button>
    </div>
</section>
</main>
{% include "main/includes/footer.html" %}
{% endblock %}